<div>
<br>
<br>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2  class = "title1" translate="" translate-values="{username: '{{account.login}}'}">Hola <b>{{account.login}}</b>, aqu&iacute puedes editar tu contrase&ntildea. </h2>
            <br>

            <div class="alert alert-success" ng-show="success" translate="">
                <strong>Se ha modificado la contrase&ntildea</strong>
            </div>
            <div class="alert alert-danger" ng-show="error"  translate="">
                <strong>Ha ocurrido un error</strong> La contrase&ntildea ha sido modificada.
            </div>

            <div class="alert alert-danger" ng-show="doNotMatch" translate="">
                Las contrase&ntildeas no coinciden. 
            </div>

            <form name="form" role="form" novalidate ng-submit="changePassword()" show-validation>

                <div class="form-group">
                    <label translate="">Nueva contrase&ntildea </label>
                    <input type="password" class="form-control" name="password" placeholder=""
                           ng-model="password" ng-minlength=5 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                           ng-show="form.password.$error.required" translate="">
                            La contrase&ntildea es obligatoria
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.minlength" translate="">
                            La contrase&ntildea debe contener al menos 5 car&aacutecteres
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.maxlength" translate="">
                            La contrase&ntildea no debe contener m&aacutes de 5 car&aacutecteres
                        </p>
                    </div>
                    <password-strength-bar password-to-check="password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label translate="">Confirmar nueva contrase&ntildea</label>
                    <input type="password" class="form-control" name="confirmPassword" placeholder=""
                           ng-model="confirmPassword" ng-minlength=5 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.required" translate="">
                            La contrase&ntildea es obligatoria.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.minlength" translate="">
                            La contrase&ntildea debe contener al menos 5 car&aacutecteres
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.maxlength" translate="">
                            La contrase&ntildea no debe contener m&aacutes de 5 car&aacutecteres
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" translate="">Guardar</button>
            </form>
        </div>
    </div>
</div>
