<div>
<br>
<br>

    <div class="row col-md-12">
        <div class="col-md-8 col-md-offset-2">
            <h2  class = "title1" translate="" translate-values="{username: '{{settingsAccount.login}}'}">Hola <b>{{settingsAccount.login}}</b>, aqu&iacute puedes editar tu perfil.</h2>
			<br>
            <div class="alert alert-success" ng-show="success" translate="">
                <strong>Cambios guardados</strong>
            </div>

            <div class="alert alert-danger" ng-show="errorEmailExists" translate="">
                <strong>E-mail en uso</strong> Por favor, elija otro E-mail.
            </div>

            <div class="alert alert-danger" ng-show="error" translate="">
                <strong>Ha ocurrido un error</strong> Los cambios no han sido guardados.
            </div>

            <form name="form" role="form" novalidate ng-submit="save()" show-validation>

                <div class="form-group">
                    <label translate="">Nombre</label>
                    <input type="text" class="form-control" name="firstName" placeholder="Introduzca nombre"
                           ng-model="settingsAccount.firstName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                    <div ng-show="form.firstName.$dirty && form.firstName.$invalid">
                        <p class="help-block"
                               ng-show="form.firstName.$error.required" translate="">
                            El nombre es obligatorio
                        </p>
                        <p class="help-block"
                               ng-show="form.firstName.$error.minlength" translate="">
                            El nombre debe tener al menos 1 car&aacutecter
                        </p>
                        <p class="help-block"
                               ng-show="form.firstName.$error.maxlength" translate="settings.messages.validate.firstname.maxlength">
                            El nombre no debe superar los 50 car&aacutecteres
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label translate="">Apellido</label>
                    <input type="text" class="form-control" name="lastName" placeholder="Introduzca apellido"
                           ng-model="settingsAccount.lastName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                    <div ng-show="form.lastName.$dirty && form.lastName.$invalid">
                        <p class="help-block"
                               ng-show="form.lastName.$error.required" translate="">
                            El apellido es obligatorio
                        </p>
                        <p class="help-block"
                               ng-show="form.lastName.$error.minlength" translate="">
                            El apellido debe tener al menos 1 car&aacutecter
                        </p>
                        <p class="help-block"
                               ng-show="form.lastName.$error.maxlength" translate="">
                            El apellido no debe superar los 50 car&aacutecteres
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label translate="">E-mail</label>
                    <input type="email" class="form-control" name="email" placeholder="Introduzca E-mail"
                           ng-model="settingsAccount.email" ng-minlength=5 ng-maxlength=100 required maxlength="100">
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                               ng-show="form.email.$error.required" translate="">
                            El E-mail es obligatorio
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.email" translate="">
                            El E-mail no es v&aacutelido
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.minlength" translate="">
                             El E-mail debe tener al menos 5 car&aacuteres
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.maxlength" translate="">
                            El E-mail no debe superar los 50 car&aacutecteres
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" translate="">Guardar</button>
            </form>
        </div>
    </div>

</div>
