<div ng-cloak>
	<div class="row">
		<!--Sidebar Right -->
		<div id="sright" class="" ng-switch=isAuthenticated()>
			<div class="page-headerST" ng-switch-when=true>
				<div class="box-content" style="margin: 10px;">
					<h3 class="page-header">Students from group</h3>
					<h4></h4>
					<ol>
						<li ng-repeat="student in students">{{student.lastName}},{{student.firstName}}</li>
					</ol>
				</div>
				<div class="page-headerST" id="secondTable"
					ng-show="isInRole('ROLE_USER')">
					<div class="header">
						<div class="title">
							<h2>Chat</h2>
						</div>
 						<div ng-repeat="messageChat in messagesChat">
						<a>{{group.name}}</a>
						</div>  
					</div>
					<div class="content">
						<div class="footer"></div>
					</div>
				</div>
			</div>
		</div>
		<!--End Sidebar Right -->
	</div>
</div>


