<div ng-cloak>
	<div class="row">
		<!-- Sidebar Left -->
		
		<div id="sleft" class="" ng-model="isAuthenticated">
			<div class="page-headerST" ng-switch="true">
				<div ng-show="isInRole('ROLE_ADMIN')">
					<div style="margin: 10px;">
						<h4 style="color: white;" class=" tablas">
							A&ntildeadir nuevo grupo:
							<button class="" data-toggle="modal"
								data-target="#saveGroupModal" ng-click="clear()">
								<a class="close-link"> <span
									class="glyphicon glyphicon-plus" aria-hidden="true"></span>
								</a>
							</button>
						</h4>
					</div>

					<div class="modal fade" id="saveGroupModal" tabindex="-1"
						role="dialog" aria-labelledby="myGroupLabel" aria-hidden="true"
						style="display: none;">
						<div class="modal-dialog">
							<div class="modal-content">
								<form name="editForm" role="form" novalidate=""
									ng-submit="create()" show-validation=""
									class="ng-valid ng-pristine">

									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"
											aria-hidden="true" ng-click="clear()">×</button>
										<h4 class="modal-title ng-scope" id="myGroupLabel"
											translate="">Crear o editar un grupo</h4>
									</div>
									<div class="modal-body">
										<div class="form-group">
											<label translate="" class="ng-scope">Nombre</label> <input
												autofocus type="text" maxlength="20"
												placeholder="Puede tener 20 caracteres como maximo"
												required="required"
												class="form-control ng-valid ng-pristine ng-untouched"
												name="name" ng-model="group.name">

											<div ng-show="editForm.name.$invalid" class="ng-hide">
											</div>
										</div>
										<div class="form-group">
											<label translate="" class="ng-scope">Descripci&oacuten</label>
											<input type="text" maxlength="100"
												placeholder="Introduzca una breve descripción"
												required="required" size="100"
												class="form-control ng-valid ng-pristine ng-untouched"
												name="description" ng-model="group.description">

											<div ng-show="editForm.description.$invalid" class="ng-hide">
											</div>
										</div>

									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default"
											data-dismiss="modal" ng-click="clear()">
											<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
												translate="entity.action.cancel" class="ng-scope">Cancelar</span>
										</button>
										<button type="submit" ng-disabled="editForm.$invalid"
											class="btn btn-primary">
											<span class="glyphicon glyphicon-save"></span>&nbsp;<span
												translate="entity.action.save" class="ng-scope">Guardar</span>
										</button>
									</div>
								</form>
							</div>
						</div>




					</div>
				</div>

				<div class="modal fade" id="deleteGroupConfirmation">
					<div class="modal-dialog">
						<div class="modal-content">
							<form name="deleteForm" ng-submit="confirmDelete(group.id)">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
										aria-hidden="true" ng-click="clear()">&times;</button>
									<h4 class="modal-title">Confirma la operaci&oacuten de
										eliminar</h4>
								</div>
								<div class="modal-body">
									<p>¿Est&aacutes seguro de que quieres eliminar el grupo
										{{group.name}}?</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default"
										data-dismiss="modal" ng-click="clear()">
										<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
									</button>
									<button type="submit" ng-disabled="deleteForm.$invalid"
										class="btn btn-danger">
										<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>

				<div ng-show="isInRole('ROLE_USER') || isInRole('ROLE_ADMIN')">

					<div class="box" style="margin: 15px;">
						<div class="box-header">
							<div class="box-name tablas">Grupos</div>
						</div>

						<div class="box-icons">
							<a class="collapse-link"> <i class="fa fa-chevron-up"></i></a>
						</div>

						<div class="box-content mobile_only">
							<div ng-repeat="group in groups">
								<div ng-show="group.id == groupId" class="list-group-item">
									<div class="alert alert-info">
										<div class="col-md-12">
											<h4>
												<a ng-show="isInRole('ROLE_USER')" ui-sref="wiki"
													ng-click="local(group.id)">{{group.name}}</a><a
													ng-show="isInRole('ROLE_ADMIN')"
													ui-sref="management({ groupId: group.id })"
													ng-click="local(group.id)"> {{group.name}}</a>
											</h4>
										</div>
										<div class="col-md-12">{{group.description}}</div>

										<small>{{group.creationMoment | date:'dd/MMM/yyyy
											h:mma'}}</small>
										<div ng-show="isInRole('ROLE_ADMIN')" class="box-icons alert alert-warning">

											<a type="submit" ng-click="update(group.id)"> <span
												data-toggle="modal" data-target="#saveGroupModal"
												class="glyphicon glyphicon-edit"></span></span>

											</a> <a type="submit" ng-click="delete(group.id)"> <span
												class="glyphicon glyphicon-remove"></span></span>
											</a>
										</div>
									</div>
								</div>
								<!-- Hasta aqui el primer div -->
								<div ng-show="group.id != groupId" class="list-group-item">
									<div class="col-md-12">
										<h4>
											<a ng-show="isInRole('ROLE_USER')" ui-sref="wiki"
												ng-click="local(group.id)">{{group.name}}</a><a
												ng-show="isInRole('ROLE_ADMIN')"
												ui-sref="management({ groupId: group.id })"
												ng-click="local(group.id)"> {{group.name}}</a>
										</h4>
									</div>
									<div class="col-md-12">{{group.description}}</div>

									<small>{{group.creationMoment | date:'dd/MMM/yyyy
										h:mma'}}</small>
									<div ng-show="isInRole('ROLE_ADMIN')" class="box-icons">

										<a type="submit" ng-click="update(group.id)"> <span
											data-toggle="modal" data-target="#saveGroupModal"
											class="glyphicon glyphicon-edit"></span></span>

										</a> <a type="submit" ng-click="delete(group.id)"> <span
											class="glyphicon glyphicon-remove"></span></span>
										</a>
									</div>

								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- End Sidebar Left -->


			</div>

		</div>
		<div
			ng-if="(isInRole('ROLE_ADMIN') == false) && (isInRole('ROLE_ADMIN') == false)">
			<h6 style="color: blue;">.</h6>
		</div>
	</div>