
<!--Sidebar Right -->
<div class="row">
	<div id="sright" class="" ng-switch=isAuthenticated()>
	<div ng-show="isInRole('ROLE_USER') || isInRole('ROLE_ADMIN')">
		<div class="box" style="margin: 15px;" >
			<div class="box-header">
				<div class="box-name">Lista del grupo</div>
			</div>
			<div class="box-icons">
				<a class="collapse-link"> <i class="fa fa-chevron-up"></i></a>
			</div>
			<div class="box-content">
				
				<div ng-repeat="student in students" class="list-group-item">
				<div class = "col-12">{{student.lastName}},{{student.firstName}}</div>
				<small class = "col-12">{{student.email}}</small>
				
				</div>
				
			</div>
		</div>
	</div>

	<div ng-show="isInRole('ROLE_USER')">
				<div class="box" style="margin: 15px;" >
			<div class="box-header">
				<div class="box-name">Chat</div>
			</div>
			<div class="box-icons">
				<a class="collapse-link"> <i class="fa fa-chevron-up"></i></a>
			</div>
			<div class="box-content">

				 <div class="scroll-area" data-spy="scroll" data-target="#myNavbar" data-offset="0">
				 	<div ng-repeat="messageChat in messagesChat" class="list-group-item">
						<small class = "col-12">{{messageChat.username}},{{messageChat.creationMoment  | date:'dd/MMM/yyyy h:mma'}}</small>
        				<div class = "col-12">{{messageChat.content}}</div>
        			</div>

    			</div>
				<form>
					<div style="text-align: center;">
						<input type="text" class="form-control">
						<div  style="padding-top: 10%;">
							<button type="submit" class="btn btn-default" >Enviar</button>
						</div>
					</div>
					  
				</form>
				</div>
	
				
			</div>
		</div>
	</div>
		</div>
	<!--End Sidebar Right -->
</div>


