<div ng-cloak>
	<div class="row">
		<!--Start Content-->
		<div id="ct" class="">

			<div class="btn-group btn-group-justified" role="group"
				ng-show="isInRole('ROLE_USER')">
				<div ui-sref-active="active" class="btn-group" role="group">
					<button ui-sref="wiki({ groupId: groupId })" type="button"
						class="btn btn-default">Wiki</button>
				</div>
				<div ui-sref-active="active" class="btn-group" role="group">
					<button ui-sref="folder({ groupId: groupId })" type="button"
						class="btn btn-default">Repositorio</button>
				</div>
				<div ui-sref-active="active" class="btn-group" role="group">
					<button ui-sref="thread({ groupId: groupId })" type="button"
						class="btn btn-principal active">Foro</button>
				</div>
				<div ui-sref-active="active" class="btn-group" role="group" ng-if="account.isTeacher == 'true'">
					<button ui-sref="dashboard" type="button" class="btn btn-default">Dashboard</button>
				</div>
			</div>
			<div class="container">
				<button class="" data-toggle="modal" data-target="#saveThreadModal"
					ng-click="clear()">
					<a class="close-link"> Nuevo Hilo </a>
				</button>
				<div class="modal fade" id="saveThreadModal" tabindex="-1"
					role="dialog" aria-labelledby="myThreadLabel" aria-hidden="true"
					style="display: none;">
					<div class="modal-dialog">
						<div class="modal-content" style="margin: 90px;">
							<form name="editForm" role="form" novalidate=""
								ng-submit="create()" show-validation=""
								class="ng-valid ng-pristine">

								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
										aria-hidden="true" ng-click="clear()">×</button>
									<h4 class="modal-title ng-scope" id="myThreadLabel"
										translate="">Crear/Editar hilo</h4>
								</div>
								<div class="modal-body">
									<div class="form-group">
										<label translate="" class="ng-scope">T&iacutetulo</label> <input autofocus
												type="text" maxlength="30" placeholder="Puede tener 30 caracteres como maximo"
												required="required"
											class="form-control ng-valid ng-pristine ng-untouched"
											name="title" ng-model="thread.title">

										<div ng-show="editForm.title.$invalid" class="ng-hide">
										</div>
									</div>
									<div class="form-group">
										<label translate="" class="ng-scope">Descripci&oacuten</label> <input
											type="text" maxlength="100" placeholder="Introduzca una breve descripción"
											required="required" size="100"
											class="form-control ng-valid ng-pristine ng-untouched"
											name="description" ng-model="thread.description">

										<div ng-show="editForm.description.$invalid" class="ng-hide">
										</div>
									</div>

								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default"
										data-dismiss="modal" ng-click="clear()">
										<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
											translate="" class="ng-scope">Cancelar</span>
									</button>
									<button type="submit" ng-disabled="editForm.$invalid"
										class="btn btn-primary">
										<span class="glyphicon glyphicon-save"></span>&nbsp;<span
											translate="" class="ng-scope">Guardar</span>
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="list-group" ng-repeat="thread in threads"
				style="margin: 15px;">
				<a ui-sref="message({ threadId: thread.id })"
					class="list-group-item">
					<h4 class="list-group-item-heading">{{thread.title}}</h4>
					<p class="list-group-item-text">{{thread.description}}</p>
				</a>
				<div class="btn-group" role="group" ng-if="thread.messages.length == 0 && thread.createdBy == account.login">
					<button ng-click="update(thread.id)" class= "btn btn-default">
						<span data-toggle="modal" data-target="#saveThreadModal"
							class="glyphicon glyphicon-edit"></span>&nbsp;<span
							translate="entity.action.edit"> Edit</span>
					</button>
					<button ng-click="deleteThread(thread.id)" class= "btn btn-default">
						<span class="glyphicon glyphicon-remove"></span>&nbsp;<span
							translate="entity.action.delete"> Delete</span>
					</button>
				</div>
				</div>


			</div>
		</div>

	</div>
</div>
</div>



