<div class="row">
	<div class="btn-group btn-group-justified" role="group"
		ng-show="isInRole('ROLE_USER')">
		<div ui-sref-active="active" class="btn-group" role="group">
			<button ui-sref="wiki({ groupId: groupId })" type="button"
				class="btn btn-default">Wiki</button>
		</div>
		<div ui-sref-active="active" class="btn-group" role="group">
			<button ui-sref="folder({ groupId: groupId })" type="button"
				class="btn btn-default">Repositorio</button>
		</div>
		<div ui-sref-active="active" class="btn-group" role="group">
			<button ui-sref="thread({ groupId: groupId })" type="button"
				class="btn btn-default">Foro</button>
		</div>
		<div ui-sref-active="active" class="btn-group" role="group"
			ng-if="account.isTeacher == 'true'">
			<button ui-sref="dashboard({ groupId: groupId })" type="button"
				class="btn btn-principal">Dashboard</button>
		</div>
	</div>
	<div class="col-md-12" style="margin: 10px;">
		<div class="col-md-6">
			<canvas id="area" class="chart chart-polar-area" data="data"
				labels="labels"></canvas>
		</div>

		<div class="col-md-6">
			<table
				class="table table-bordered table-striped table-hover table-heading table-datatable scroll-area"
				data-spy="scroll" id="datatable-1">
				<thead>
					<tr>
						<th>Titulo</th>
						<th>Mensajes</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="thread in threadsAll">
						<td>{{thread.title}}</td>
						<td>{{thread.tamano.length}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="col-md-12" style="margin: 10px;">
		<div class="col-md-6">
			<canvas id="area" class="chart chart-polar-area" data="data2"
				labels="labels2"></canvas>
		</div>

		<div class="col-md-6">
			<table
				class="table table-bordered table-striped table-hover table-heading table-datatable scroll-area"
				data-spy="scroll" id="datatable-1">
				<thead>
					<tr>
						<th>Titulo</th>
						<th>Archivos</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="folder in foldersAll">
						<td>{{folder.title}}</td>
						<td>{{folder.tamano.length}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
</div>