<div ng-cloak>
	<div class="row">
		<!--Start Content-->
		<div id="ct" class="">

			<div class="btn-group btn-group-justified" role="group"
				ng-show="isInRole('ROLE_USER')">
				<div ui-sref-active="active" class="btn-group" role="group">
					<button ui-sref="wiki({ groupId: groupId })" type="button" class="btn btn-default">Wiki</button>
				</div>
				<div ui-sref-active="active" class="btn-group" role="group">
					<button ui-sref="repository" type="button" class="btn btn-default">Repository</button>
				</div>
				<div ui-sref-active="active" class="btn-group" role="group">
					<button ui-sref="thread({ groupId: groupId })" type="button" class="btn btn-default">Forum</button>
				</div>
				<!-- 				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default">Forum</button>
				</div> -->
			</div>


			<h2>Aquí va a ir la información del Forum</h2>
			
			
			
			<div class="list-thread">
				<div ng-repeat="thread in threadsAll">
					{{thread.title}}
					{{thread.description}}
					{{thread}}
					{{thread.id}}
				</div>
			</div>
			<div class="list-group">
				<div ng-repeat="thread in threads">
					{{group.thread}}
					{{thread.title}}
					{{thread.description}}
					{{thread}}
					{{threadId}}
				</div>
			</div>
			<div class="list-group">
				<div ng-repeat="thread in threadsAll2">
					{{group.thread}}
					{{thread.title}}
					{{thread.description}}
					{{thread}}
					{{threadId}}
				</div>
			</div>
		</div>
	</div>
</div>



